<!-- <i class="material-icons show-column">&#xE03B;</i>

<ul class="switcher-list">
  <li class="switcher-item" ng-repeat="col in $ctrl.appColumns" ng-class="{inactive: !col.show}">
    {{col}}
  </li>
</ul> -->

<md-menu class="show-column" md-position-mode="target-right target">
  <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$ctrl.openMenu($mdMenu, $event)">
    <i class="material-icons show-column">&#xE03B;</i>
  </md-button>
  <md-menu-content width="4" id="toggleList">
    <md-menu-item class="switcher-item" ng-repeat="col in $ctrl.appColumns" ng-class="{inactive: !col.show}">

      <md-button ng-click="$ctrl.appToggle({col: col, index: $index})" md-prevent-menu-close="md-prevent-menu-close">
        <i class="material-icons switcher-list--icon">{{col.show ? '&#xE834;' : '&#xE835;'}}</i>
        {{::col.title}}
      </md-button>


    </md-menu-item>

  </md-menu-content>
</md-menu>